<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>SMART DEALS</title>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo" class="logo">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="/recommend-history" >For you</a></li>
                <li><a href="/collab-recommend/AE237R635P47DEL7T3CSBQDKMBRA" >Similar picks</a></li>
                <li><a href="#contact">Contact Us</a></li>

            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="banner">
            <h1>Discover Top Appliances in One Place</h1>

            <!-- Category Dropdown -->
            <form method="get" action="/">
                <select name="category" id="category" class="category-dropdown" onchange="this.form.submit()">
                    <option value="" disabled selected>Select Category</option>
                    <option value="">All Categories</option>
                    {% for category in categories %}
                    <option value="{{ category }}" {% if selected_category==category %}selected{% endif %}>
                        {{ category }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>


        <!-- Advertisement Banner Section -->
        <div class="banner-container">
            <img src="{{ url_for('static', filename='images/app-banner1.png') }}" alt="Advertisement 1" class="active">
            <img src="{{ url_for('static', filename='images/app-banner2.png') }}" alt="Advertisement 2">
            <img src="{{ url_for('static', filename='images/app-banner3.jpg') }}" alt="Advertisement 3">
            <img src="{{ url_for('static', filename='images/app-banner4.jpg') }}" alt="Advertisement 4">
            <img src="{{ url_for('static', filename='images/app-banner5.jpg') }}" alt="Advertisement 5">
        </div>

        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Search Your Products">
            <button type="submit">Search</button>
        </form>

        <!-- Hot Products Section (Top 5 Seasonal Products) -->
        <section class="hot-products">
            <h2>Favorites of the Month</h2>
            <ul class="results-list">
                {% for product in top_5_products %}
                <li class="result-item">
                    <a href="/product/{{ product['asin'] }}" class="product-link">
                        <img src="{{ product['hi_res_image'] }}" alt="{{ product['product_title'] }}" class="card-img">
                        <h3>{{ ' '.join(product['product_title'].split()[:4]) }}</h3>
                    </a>
                    <p><strong>Rating:</strong> {{ product['average_rating'] }} / 5</p>
                </li>
                {% endfor %}
            </ul>
        </section>

        {% if results %}
        <hr>
        <h2>Discover More</h2>
        <ul class="results-list">
            {% for result in results %}
            <li class="result-item">
                <a href="/product/{{ result['asin'] }}" class="product-link">
                    <img src="{{ result['hi_res_image'] }}" alt="{{ result['product_title'] }}" class="card-img">
                    <hr>
                    <h3>{{ ' '.join(result['product_title'].split()[:4]) }}</h3>
                    <p><strong>Category:</strong> {{ result['main_category'] }}</p>
                    <p><strong>Average Rating:</strong> {{ result['average_rating'] }} / 5</p>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No results found for this category.</p>
        {% endif %}


        <!-- Pagination -->
        <div class="pagination">
            <form method="get" action="/">
                <!-- Previous Button -->
                {% if page > 1 %}
                <button class="move-button" type="submit" name="page" value="{{ page - 1 }}">Previous</button>
                {% endif %}
                <span>Page {{ page }}</span>
                <!-- Next Button -->
                {% if results|length == 20 %}
                <button class="move-button" type="submit" name="page" value="{{ page + 1 }}">Next</button>
                {% endif %}
                <!-- Hidden Input for Category -->
                <input type="hidden" name="category" value="{{ selected_category }}">
            </form>
        </div>
    </div>
    <footer>
        <p>Copyright &copy; 2024 SMART DEALS.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>