<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo" class="logo">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                {% if userid %}
                    <li><a href="/recommend-history">For you</a></li>
                    <li><a href="/collab-recommend/{{ userid }}">Similar picks</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/signin">Sign In</a></li>  <!-- Sign In button if user isn't signed in -->
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Personalised products for you </h2>
        <ul class="results-list">
            {% if products %}
                {% for product in products %}
                <li class="result-item">
                    <a href="/product/{{ product['asin'] }}" class="product-link">
                        <img src="{{ product['hi_res_image'] }}" alt="{{ product['product_title'] }}" class="card-img">
                        <h3>{{ ' '.join(product['product_title'].split()[:4]) }}</h3>
                    </a>
                    <p><strong>Rating:</strong> {{ product['average_rating'] }} / 5</p>
                </li>
                {% endfor %}
            {% else %}
                <p>No recommendations available for this user.</p>
            {% endif %}
        </ul>

        <a href="{{ url_for('index') }}">Back to Product List</a>
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <p>&copy; 2024 SMART DEALS. All rights reserved.</p>
                <ul class="footer-links">
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>
